extends layout
block content 
  .login
    .d-flex.align-items-center
      .logo P
      h5#h5.ms-2.mb-0 ParkEase
    h1#heading WELCOME BACK TO PARKEASE
    p#p PLEASE LOGIN
    br
    .mb-3
      input#username(type='text' required='')
      label.Form-label(for='userName') UserName
    .mb-3
      input#password(type='password' required='')
      label.Form-label(for='Password') Password
    button.btn.btn-primary(type='submit') Login
    #errorMsg.error
  script(src='auth.js')
